In [14]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder

In [44]:
text_names=['ID', 'Text']
training_text_df = pd.read_csv('training_text', sep='\\|\\|', engine='python', skiprows=1, names=text_names)
training_variants_df = pd.read_csv('training_variants')
test_text_df = pd.read_csv('test_text', sep='\\|\\|', engine='python', skiprows=1, names=text_names)
test_variants_df = pd.read_csv('test_variants')

In [35]:
training_text_df.head()

   ID                                               Text
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...
2   2   Abstract Background  Non-small cell lung canc...
3   3  Recent evidence has demonstrated that acquired...
4   4  Oncogenic mutations in the monomeric Casitas B...

In [12]:
training_variants_df.head()

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4

In [52]:

training_df = pd.merge(training_variants_df, training_text_df, on='ID', suffixes=('', '_'))
test_df = pd.merge(test_variants_df, test_text_df, on='ID', suffixes=('', '_'))

training_df.head()

,ID,Gene,Variation,Class,Text
0,0,FAM58A,Truncating Mutations,1,Cyclin-dependent kinases (CDKs) regulate a var...
1,1,CBL,W802*,2,Abstract Background Non-small cell lung canc...
2,2,CBL,Q249E,2,Abstract Background Non-small cell lung canc...
3,3,CBL,N454D,3,Recent evidence has demonstrated that acquired...
4,4,CBL,L399V,4,Oncogenic mutations in the monomeric Casitas B...

In [ ]:
# Now I'm going to encode the dataframe into a sparse matrix.
# For Gene and Variation, I will use One-Hot encoding (boolean values 0 or 1)
# I will use TF-IDF vectorization for text, where it gives me continous range [0,1] telling the normalized frequency
# That will give me a sparse matrix only with cell values 0 or 1

tfidf = TfidfVectorizer(stop_words='english', ngram_range=(1,2), min_df=2, decode_error='ignore')
vectorized_training = tfidf.fit_transform(training_df['Text'].values.astype('U'))
vectorized_test = tfidf.transform(test_df['Text'].values.astype('U'))

In [57]:
onehot = OneHotEncoder()
onehot_training = onehot.fit_transform(training_df[['Gene', 'Variation']])
onehot_test = onehot.fit_transform(test_df[['Gene', 'Variation']])

In [59]:
training_matrix = pd.concat([onehot_training, vectorized_training], axis=1)
test_matrix = pd.concat([onehot_test, vectorized_test], axis=1)

NameError: name 'vectorized_training' is not defined